{
    "singleQuote": false,
    "trailingComma": "all",
    "tabWidth": 4,
    "useTabs": false,
    "plugins": ["prettier-plugin-tailwindcss"],
    "extensions": [
        ".md",
        ".js",
        ".ts",
        ".jsx",
        ".tsx",
        ".css",
        ".scss",
        ".json",
        ".prettierrc"
    ]
}
